{{! Scoreboard }}
<dl id="scoreboard">
  <div class="score-group">
    <dt>
      <p class="label">Player 1</p>
      <p class="value">#1</p>
    </dt>
    <dd>
      <p class="label">Points</p>
      <p class="value">0</p>
    </dd>
  </div>

  <div class="score-group">
    <dt>
      <p class="label">Player 2</p>
      <p class="value">#2</p>
    </dt>
    <dd>
      <p class="label">Points</p>
      <p class="value">10</p>
    </dd>
  </div>

  <div class="score-group">
    <dt>
      <p class="label">Player 3</p>
      <p class="value">#3</p>
    </dt>
    <dd>
      <p class="label">Points</p>
      <p class="value">0</p>
    </dd>
  </div>

  <div class="score-group">
    <dt>
      <p class="label">Player 4</p>
      <p class="value">#4</p>
    </dt>
    <dd>
      <p class="label">Points</p>
      <p class="value">10</p>
    </dd>
  </div>
</dl>
