<div class="main-content">
  <div id="content">
    <div id="logo-column"><div class="wia-logo"></div></div>
    <div id="form-column">
      <h3>You Won! Thanks for Playing!</h3>
      <h1>Enter for a chance to win $5,000!</h1>
      <p>Enter your information below for your chance to win.</p>

      <!-- Form -->
      <section id="sweep-form">
        <section id="sweep-label-left">
          <div class="label">First Name:</div>
          <div class="label">Last Name:</div>
          <div class="label">Email:</div>
          <div class="label">Phone:</div>
        </section>
        <form name="sweepstakes" id="sweep-input">
          <input type="text" name="first_name" id="first_name">
          <input type="text" name="last_name" id="last_name">
          <input type="text" name="email" id="email">
          <input type="tel" name="phone" id="phone">
          <div id="checkbox-group">
            <input type="checkbox" id="age_check">
            <label class="checkbox" for="age_check">I am 18 or older</label>
            <br>
            <input type="checkbox" id="signup_check">
            <label class="checkbox" for="signup_check">Yes, sign me up for e-mail updates from the Smithsonian Channel.</label>
            <br>
            <input type="checkbox" id="terms_check">
            <label class="checkbox" for="terms_check">
              By checking this box, I understand and agree to the terms and conditions of the attached <a href="#">Official Rules.</a>
            </label>
          </div>
          <div class="submit-form">
            <input type="submit" class="submit is-active">
            <a href="#">No Thanks</a>
          </div>
        </form>
      </section>
      <!-- End Form -->
    </div>
  </div>
</div>

<!-- Footer -->
<div class="selection">
  <footer class="select-bar" id="final-results-footer">
    <h3 class="aerial-social">#AerialAmerica</h3>
    <h4 class="smithsonian-logo">
      <img src="assets/smithsonian-logo.png">
    </h4>
  </footer>
</div>
<!-- End Footer -->