<div class="main-content">
  <div class="aerial-promo-logo">
    <div class="inner">
      <img src="assets/aerial-promo-logo.png">
    </div>
  </div>
  <div class="promo-bottom">
    <img src="logo-footer.png">
  </div>
</div>
