<!-- Start Pre-Game Carousel -->
  <div class="pre-game-content">
    <div class="pre-game-slides">
      <ul class="slides">
        <!-- Slide 1 -->
          <li>
            <figure>
              <img src="assets/illinois.png" style="width: 180px;">
            </figure>
            <h2>Each question reveals 10 states <br>as possible answers</h2>
          </li>
          <!-- Slide 2 -->
          <li>
            <figure>
              <img src="assets/florida.png" style="width: 250px;">
            </figure>
            <h2>Feeling confident? Tap the state<br> and "Submit" your answer.</h2>
          </li>
          <!-- Slide 3 -->
          <li>
            <figure>
              <img src="assets/timer.png" style="width: 220px;">
            </figure>
            <h2>But hurry... you've got 10 seconds<br> for each question</h2>
          </li>
        </div>
      </ul>
  </div>
<!-- End Pre-Game Carousel -->
<script type="text/javascript">
  AA.create_pre_game_slider();
</script>