<!-- Map for Player Select -->
<div class="main-content">
  <!- TODO: Replace US Map with SVG -->
  <img clas="placeholder" src="assets/placeholder-states.png">
</div>

<!-- Footer for Player Submit -->
<div class="selection">
  <footer class="select-bar">
    <h3>Select a State</h3>
    <button class="submit">SUBMIT</button>
  </footer>
</div>
