<!-- Map for Player Select -->
<div class="main-content" data-id="{{ choices }}">
</div>

<!-- Footer for Player Submit -->
<div class="selection">
  <footer class="select-bar">
    <h3 id="js-selected-state">Select a State</h3>
    <button class="submit">SUBMIT</button>
  </footer>
</div>
