<!-- Map for Player Select -->
<div class="main-content">
</div>

<!-- Footer for Player Submit -->
<div class="selection">
  <footer class="select-bar">
    <h3>Select a State</h3>
    <button class="submit">SUBMIT</button>
  </footer>
</div>
