<!-- Answer Explanation -->
<div class="main-content">
  <div id="overlay">
    <div class="round-results">
      <h4 class="points is-correct">+10 points</h4>
      <h2>Correct! {{ answer_text }}</h2>
      <p>Now get out your flip-flops!</p></div>
  </div>
  <!- TODO: Replace US Map with SVG -->
  <img class="placeholder" src="assets/placeholder-states.png">
</div>

<!-- Player's Submited Answer -->
<div class="selection">
  <footer class="select-bar">
    <h3>You Selected:
      <strong>South Carolina</strong>
    </h3>
  </footer>
</div>


