<div id="socket" data-uri="192.168.72.112:3000/websocket"></div>

<div id="pick" style="height:50px; width:50px; background:red;">Pick</div>

<div id="container">
  <header id="header">
    <div class="wia-logo"></div>
  </header>

  <div id="content">
    <div class="start">
    </div>
  </div>
</div>
