// Background
body {
  font-family: $font;
  background: $background-color url('background.jpg') no-repeat top center;
  background-position: 0 50px;
  background-size: cover;
}

// Header
header {
  background: #3f84af url('blue_bg.jpg') no-repeat top center;
  background-size: cover;
  height: 107px;
  text-align: center;
  padding-left: 15px;
  padding-top: 15px;
}

.header {
  z-index: 15;
}

// Logo
.wia-logo {
  height: 122px;
  width: 217px;
  background: url('logo.png') 0px 0px no-repeat;
  float: left;
}

// Fonts
h1, h2, h3, h4, .seconds {
  color: $white;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, .2);
}

// Pre-Game Start
.start {
  text-align: center;

  h2 {
    @include font-size(50);
  }
}

.main-content,
.top-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  h2 {
    @include font-size(50);
  }

}

.pre-game-content {
  text-align: center;

  h2 {
    @include font-size(50);
  }
}

.top-content {
  h2 {padding-top: 100px;}
}

// Pre-Game Countdown 3s
.main-countdown {
  .seconds {
    @include font-size(270);
    font-weight: 700;
  }
}

// Game Countdown 10s
.header-countdown {
  float: right;
  width: 350px;
  margin-right: 50px;

  color: $offWhite;
  font-weight: 700;
  @include font-size(25);

  .seconds {
    @include font-size(85);
    font-weight: bold;
  }
  p {
    text-transform: uppercase;
    font-weight: normal;
  }
}

// Game Rounds
.is-correct {color: $success-color;}
.is-incorrect {color: $warning-color;}
