// Background
body {
	font-family: $font;
	background: $background-color url('gray_bg.jpg') no-repeat top center;
}

// Header
header {
	background: #3f84af url('blue_bg.jpg') no-repeat top center;
	background-size: cover;
  height: 107px;
  text-align: center;
  padding-left: 15px;
  padding-top: 15px;
}

.header {
  z-index: 15;
}

// Logo
.wia-logo {
  height: 122px;
  width: 217px;
  background: url('logo.png') 0px 0px no-repeat;
  float: left;
}

// Fonts
h1, h2, h3, h4, .seconds {
  color: $white;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, .2);
}

// Pre-Game Start
.start {
	text-align: center;

	h2 {
		@include font-size(50);
	}
}

.main-content,
.top-content {
	width: 90%;
	margin: 0 auto;
	text-align: center;

	h2 {
		@include font-size(50);
	}

}

.pre-game-content {
  text-align: center;

  h2 {
    @include font-size(50);
  }
}

.top-content {
	h2 {padding-top: 100px;}
}

// Pre-Game Countdown 3s
.main-countdown {
	.seconds {
		@include font-size(270);
		font-weight: 700;
	}
}

// Game Countdown 10s
.header-countdown {
  float: right;
  width: 350px;
  margin-right: 50px;

  color: $offWhite;
  font-weight: 700;
  @include font-size(25);

  .seconds {
	  @include font-size(85);
    font-weight: bold;
  }
  p {
    text-transform: uppercase;
    font-weight: normal;
  }
}

// TODO: Update default styles
button {
  display: block;
  padding: 10px;
  margin: 10px;
}

#phase-chart {
  color: grey;
  border: solid 1px lightgrey;
  margin: 20px 0 0 10px;
}

.check-box {
  color: darkgrey;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.success {
  color: limegreen;
}

.notice {
  color: cornflowerblue;
}

.error {
  color: tomato;
}

.transition {
 color: chocolate;
}

.websocket {
  color: darkviolet;
}

.log {
  margin: 10px;
  padding: 5px;
  background: rgba(180, 140, 200, .15);
}

h4 {
  text-align: center;
}

.button_to {
  text-align: center;
  margin-top: 30px;
}
