// Variables

/* Colors */
$offWhite: #fff7ed;
$noHover: #fff;
$white: #fff;
$darkgray: #404446;
$green: #87a347;
$grayish: #c6c6c6;

$font-color: $white;
$success-color: $green;
$background-color: $darkgray;

/* Font */
$font: "franklin-gothic-urw", Arial, sans-serif;

// Mixins

@mixin font-size($pixelValue){
  font-size: $pixelValue + px;
  font-size: ($pixelValue/16) + rem;
}

@mixin line-height($pixelValue){
  line-height: $pixelValue + px;
  line-height: ($pixelValue/16) + rem;
}

@mixin letter-spacing($ps_value, $font_px_value) {
  $ls_px_value: ($ps_value * $font_px_value) / 1000;
  letter-spacing: $ls_px_value + px;
  letter-spacing: ($ls_px_value/16) + rem;
}

@mixin transition($property, $duration, $easing){
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

@mixin box-shadow($vOffset, $hOffset, $blur, $color){
  -moz-box-shadow: $vOffset $hOffset $blur $color;
  -webkit-box-shadow: $vOffset $hOffset $blur $color;
  box-shadow: $vOffset $hOffset $blur $color;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin rgba-background($red, $green, $blue, $alpha){
  $bg-rgba: rgba($red, $green, $blue, $alpha);
  /* START IE HACKERY */
  background:url(#);
  cursor: pointer;
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($bg-rgba)},endColorstr=#{ie-hex-str($bg-rgba)});
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($bg-rgba)},endColorstr=#{ie-hex-str($bg-rgba)});
  zoom: 1;
  /* END IE HACKERY */
  background: rgba($red, $green, $blue, $alpha);
}

// Helpers

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.text-shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
}

