<div id="container">
  <header id="header">
    <div class="wia-logo"></div>
  </header>
  <div class="top-content">
    <h2>The game begins in...</h2>
  </div>
    <%= link_to page_path('question') do %>
      <div class="main-content">
        <div class="main-countdown">
          <span class="seconds">3</span>
        </div>
      </div>
    <% end %>
</div>