<div id="container">
  <header id="header">
    <div class="wia-logo"></div>
  </header>
  <div id="content">

  <!-- Map for Player Select -->
  <div class="main-content">
    <!- TODO: Replace US Map with SVG -->
        <div id="views-container">
        <div class="views map-container">
            <div id="map"></div>
        </div>
      </div>
  </div>

  <!-- Footer for Player Submit -->
  <div class="selection">
    <footer class="select-bar">
      <h3 id="js-selected-state">Select a State</h3>
      <%= link_to page_path('round_correct') do %>
        <button class="submit">SUBMIT</button>
      <% end %>
    </footer>
  </div>

  </div>
</div>
