<div id="container">
  <div id="content">
    <div id="logo-column">Where in America?</div>
    <div id="form-column">
      <h3>You Won! Thanks for Playing!</h3>
      <h1>Enter for a chance to win $5,000!</h1>
      <p>Enter yoru information below for your chance to win.</p>
    </div>
  </div>

  <!-- Footer -->
  <div class="selection">
    <footer class="select-bar">
      <h3>#AerialAmerica</h3>
    </footer>
  </div>
  <!-- End Footer -->
</div>