<div id="container" class="promo-page">
  <div class="main-content">
    <div class="aerial-promo-logo">
      <div class="inner">
        <%= image_tag "aerial-promo-logo.png" %>
      </div>
    </div>
    <div class="promo-bottom">
      <%= image_tag "logo-footer.png" %>
    </div>
  </div>
</div>