.player-select {
  text-align: center;
  width: 300px;
  height: 80px;
  background: #3f84af;
  color: white;
  margin: 20px 0 20px 100px;
}

// iPad Size fixed map-container
#container {
  height: 768px;
  overflow-y: hidden;
}

// Pre-Game
.main-content {
  figure {
    margin-top: 80px;

    img { height: 270px };
  }
}

// Game Instructions Pre Game Slider
/* Carousel */
.pre-game-slides {
  overflow: hidden;
  width: 100%;
  height: 620px;

  .slides {
    @extend .clearfix;
    padding: 0;
    margin: 0;
    list-style-type: none;

    h2 {
      @include font-size(45);
      margin-bottom: 20px;
    }
  }

  figure {
    margin-top: 50px;
    height: 250px;
  }

}

/* Control Nav */
.flex-control-nav {width: 100%; position: relative; bottom: -20px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

/* Game Round */


// Round Results
/* Overlay, Answer Explanation */
#overlay {
  z-index: 2;
  position: absolute;
  top: 123px;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.57);
}

/* Answer Explanation */
.round-results {
  text-align: left;
  padding: 90px 40px;

  h4 { text-align: left; }
  p {
    @include font-size(28);
    line-height: 1.222222222;
    color: #fff;
    text-shadow: 8px 13px 7px rgba(0,0,0,.2); /* drop shadow */
    margin-top: 8px;
  }
}

.points {
  font-size: 35px;
  text-shadow: 3px 5px 7px rgba(0,0,0,.2); /* drop shadow */
}


.map-container {
  position: relative;
  background: none;
  z-index: 1;
  text-align: center;
}

#map {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  // width: 75%;
}

// Footer
footer {
  width: 100%;
  background-color: rgba(0,0,0,.37);
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 18px 0;

  h3 {
    float: left;
    margin-left: 50px;
    @include font-size(36);
    color: $grayish1;
    font-weight: normal;
    margin-top: 12px;
  }

}

// Submit Answer Button
.answer {
  float: right;
}

.submit {
  border: 0;
  padding: 10px 25px;
  font-size:25px;
  @include box-shadow(8px, 13px, 7px, rgba(0,0,0,.2));
  margin-right: 50px;
  font-weight: bold;
  color: $grayish2;

  &:hover {
    color: white;
    background-color: #ef8301;
  }

  &.is-inactive {
    background-color: #b6b6b6;
  }

  &.is-active {
    color: white;
    background-color: $active-color;
  }
}

// Round Results
.final-results {
  color: red;
  background: #414547 image-url("final-results-bg.jpg") no-repeat;
  background-size: cover;
}

#logo-column {
  width: 30%;
  float:left;
  text-align: center;

  .wia-logo {
    margin-top: 12%;
    margin-left: 15%;
    padding-right: 1%;
    border-right: 1px solid rgba($white, 0.2);
  }
}

#form-column {
  float:left;
  width: 70%;

  h3 {
    font-weight: normal;
    @include font-size(35);
    margin-top: 5%;
  }

  h1 {
    color: $title-color;
    margin-top: 2%;
    @include font-size(43);
  }

  p {
    margin-top: 1.5%;
    color: $grayish3;
    @include font-size(20)
  }
}

#final-results-footer {
  .aerial-social {
    float: left;
    display: inline-block;

    @include font-size(25);
    text-shadow: none;
  }

  .smithsonian-logo {
    float: right;
    display: inline-block;
    margin-right: 2%;

    img {
      width: 250px;
      height: 54px;
    }
  }
}

#sweep-form {
  width: 90%;
  margin-top: 3%;
}

#sweep-label-left {
  display: inline-block;
  float:left;
  width: 20%;

  color: $grayish3;
  @include font-size(20);

  .label {
    text-align: right;
    height: 43px;
    margin-bottom: 2%;
    padding-right: 15px;
  }
}

.checkbox {
  margin: 5px 0;
  color: $grayish3;
  @include font-size(15);

  padding-top: 15px;

  &:last-of-type {
    padding-top: 5px;
  }
}

#checkbox-group {
  margin-top: 2%;
}

#sweep-input {
  float: left;
  display: inline-block;
  width: 80%;

  a {
    color: $white;
    padding-bottom: 3px;
    border-bottom: 1px solid $white;
  }

  input[type="text"],
  input[type="tel"] {
    width: 90%;
    margin-bottom: 2%;

    border: 0;
    height: 23px;
    background-color: rgba(#fff, 0.2);
    color: $white;
    padding: 5px 10px;

    &:focus,
    &:active {
      outline:none;
    }
  }

  // Checkbox Form
  input[type=checkbox] {
    display:none;
    cursor:pointer;

    &:focus,
    &:active {
      outline:none;
    }

    &:checked + label {
      background: transparent image-url("check-1.png") no-repeat;
    }

    & + label {
      cursor: pointer;
      display:inline-block;
      position: relative;
      padding-left: 60px;
      background: transparent image-url("check-box.png") no-repeat;
      height: 40px;
      line-height: 1.4;
    }
  }

  input[type="submit"] {
    -moz-box-shadow: 3px 5px 7px rgba(0,0,0,.2); /* drop shadow */
    -webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.2); /* drop shadow */
    box-shadow: 3px 5px 7px rgba(0,0,0,.2); /* drop shadow */

    margin-right: 30px;
  }

  .submit-form {
    margin-top: 5%;

    a {
      border: 0;
      color: $grayish3;
    }
  }

}

.promo-page {
  background: #414547 image-url("promo-bg.jpg") no-repeat;
  background-size: cover;
}

.aerial-promo-logo {
  height: 768px;
  margin: 0 auto;
  @include vcenter-td;

  .inner img {
    height: 323px;
    width: 666px;
  }
}

.promo-bottom {
  position: absolute;
  bottom: 25px;
  margin: 0 auto;
  width: 88%;
}
