// Pre-Game
.main-content {
  figure {
    margin-top: 80px;

    img { height: 270px };
  }
}

// Game Instructions Pre Game Slider
/* Carousel */
.pre-game-slides {
  overflow: hidden;
  width: 100%;
  height: 620px;
  display: none;

  .slides {
    @extend .clearfix;
    padding: 0;
    margin: 0;
    list-style-type: none;
    // height: 250px;
  }

  figure {
    margin: 50px 0;
  }

}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

// Round Results
/* Overlay, Answer Explanation */
#overlay {
  z-index: 1;
  position: absolute;
  top: 123px;
  left: 0;
  width: 100%;
  height: 100%;
  // display: none;

  background-color: rgba(0,0,0,.57);
}

/* Answer Explanation */
.round-results {
  text-align: left;

  h4 { text-align: left; }
  p {
    @include font-size(28);
    line-height: 1.222222222;
    color: #fff;
    text-shadow: 8px 13px 7px rgba(0,0,0,.2); /* drop shadow */
    margin-top: 10px;
  }
}

.points {
  font-size: 35px;
  text-shadow: 3px 5px 7px rgba(0,0,0,.2); /* drop shadow */
  &.is-correct {color: $success-color;}
}

// Map
.main-content {

  // TODO: replace with SVG
  .placeholder {
    margin-top: 80px;
    margin-left: -120px;
    width: 1000px;
  }
}

.map-container {
  position: relative;
  background: none;
  z-index: 1;
}

#map {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 1034px;
  height: 700;
}

// Footer
footer {
  width: 100%;
  background-color: rgba(0,0,0,.37);
  position: absolute;
  bottom: 0;
  z-index: 10;

  h3 {
    font-size: 36px;
    float: left;
    margin-left: 50px;
  }

}

// Submit Answer Button
.submit {
  float: right;
  border: 0;
  padding: 10px 25px;
  font-size:25px;
  @include box-shadow(8px, 13px, 7px, rgba(0,0,0,.2));
  margin-top: 30px;
  margin-right: 50px;

  &:hover {
    color: white;
    background-color: #ef8301;
  }

  &.is-inactive {
    color: #7c7c7c; ;
    background-color: #b6b6b6;

  }

  &.is-active {
    color: white;
    background-color: #ef8301;
  }
}