<!DOCTYPE html>
<html>
<head>
  <title>AerialAmericaPlayer</title>
  <%# <%= stylesheet_link_tag    "style_player", media: "all", "data-turbolinks-track" => true %1> %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
